body{
    background-color: gray;
}
a{
    color: aliceblue; font-size: 20px;
}
.seletor-do-elemento {
    border-radius: 20px 20px 15px 5px;
    /* 
        Aplica valores diferentes para cada canto, 
a ordem superior esquerdo, superior direito, inferior direito e         seguindo inferior esquerdo.
    */
}
